body{
    color: #383e45;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.content-title{
    font-size: 1rem;
    margin: 10px 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.profile{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}
#header ul{
    display: flex;
    padding: 10px 0;
}
#header li{
    margin-left: 30px;
}
#header li a{
    color: #24292e;
}
#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
#about{
    max-width: 840px; 
    margin: 0 auto 100px auto;
    text-align: center;
}
.title{
    text-align: center;
    margin: 60px 0;
    display: inline-block;
    border-bottom: solid 1px black;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-left{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 40px;
}
.name{
    text-align: left;
}
#bicycle{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
#bicycle ul{
    display: flex;
    justify-content: space-between;
}
#bicycle li{
    margin: 0 20px;
}
#footer{
    margin-top: 100px;
    text-align: center;
}
@media screen and (max-width: 600px) {

#about .content {
    flex-direction: column;
}
#about img {
    display: flex;
    justify-content: center;
}
#bicycle ul {
    flex-direction: column;
}
}